{% extends 'base.html' %}

{% block content %}
<title>NFT Shop Gacor</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 20px;
        }
        
        .artifact-info {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(300px, auto));
    }

        .item-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        }

        .item-image {
        /* Display the image as a block element */
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        }
        .nft-button {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border: 1px solid #000;
        border-radius: 4px;
        font-size: 32px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        margin-top: 10px; 
        }
        .amount-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}

a.inline-link {
    display: inline; 
    text-decoration: none;
    color: #007bff; 
}
.last-row {
    background-color: #FFD700;
    color: #000; 
}


    </style>
</head>
<body>
    <div class="artifact-info">
        <h3>Nama : {{siswa}}</h3>
        <h3>Kelas : {{kelas}}</h3>
        <h3>Welcome  to NFTShop, {{username}}</h3>
        <h1>NFTshop - OpenSeabat </h1>
        <h2>{{itemlen}} NFTs listed as Today</h2>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
        <a href="{% url 'main:create_product' %}">
            <button class="nft-button">
                List Your NFT
            </button>
        </a>
        <a href="{% url 'main:logout' %}">
            <button class="nft-button">
                Logout
            </button>
        </a>
    <div class="grid-container">
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            {% with forloop.counter as counter %}
                <div class="item-container {% if counter > last_row %}last-row{% endif %}">
                    <img src="{{ item.img }}" class="item-image">
                    <h3>Name : {{ item.name }}</h3>
                    <p>Price : {{ item.price }} ETH</p>
                    <p>Description : {{ item.description }}</p>
                    <p>Amount : {{ item.amount }}</p>
                    <p>Listed By : {{item.user.username}}</p> 
                {% if item.user.username == username %}
                    <h4><b>Listed By You</b></h4>
                    <a href="{% url 'main:increase_amount' item.id %}" class="inline-link">
                        <button class = "amount-button">
                            ⬆️ Increase Amount
                        </button>
                    </a>
                    <a href="{% url 'main:decrease_amount' item.id %}" class="inline-link">
                        <button class="amount-button">
                            ⬇️ Decrease Amount
                        </button>
                    </a>       
                    <a href="{% url 'main:delete_product' item.id %}">
                        <button class="nft-button">
                            Delete Product
                        </button>
                    </a>
                    
                {% endif %}
                    <a href="https://www.youtube.com/watch?v=6kguaGI7aZg">
                        <button class="nft-button">
                            Buy
                        </button>
                    </a>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    <br />
    
</div>
</body>

{% endblock content %}
